body, #root{
  width:100vw;
  height:100vh;
  overflow-x: hidden;
}

.cta{
  background-image: url("./assets/images/bg-boost-mobile.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.shorten{
  background-image: url("./assets/images/bg-shorten-mobile.svg");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 50%;

}

@media (min-width:768px){
  .cta{
    background-image: url("./assets/images/bg-boost-desktop.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .shorten{
    background-image: url("./assets/images/bg-shorten-desktop.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
